<div class="page-header">
  <h3><%= params[:action] == 'show' ? event.title : link_to(event.title, event) %></h3>
  <p>Event starts <%= event.starts_at.strftime("%A %b %e %l:%M%p") %> and goes until <%= event.ends_at.strftime("%A %b %e %l:%M%p") %></p>
</div>

<p><%= event.rendered_description %></p>

<div class="row">
  <div class="span12">
    <h3>Comments</h3>
    <%= render @event.comments %>
  </div>
</div>

<% if @user.admin? %>
  <%= link_to raw('<b class="icon-pencil icon-white"></b> Edit Event'), edit_event_path(event), :class => "btn btn-primary btn-small" %>
  <%= link_to raw('<b class="icon-trash icon-white"></b> Delete Event'), event_path(event), :id => "destroy-event", :class => "submit btn btn-danger btn-small" %>
<% end %>

<%= link_to("back to events", "/") %>

<%= javascript_tag do %>

  $("#destroy-event").click(function() { 
    var del = confirm("Are you sure you want to delete this event?");

    if(del) {
      $.ajax({ type: "DELETE", url: "/events/<%= event.id %>", complete: function() { window.location = "/"; } });
    }

    return false;
  });


<% end %>