<div class="row">
  <div class="span12">
    <%= form_for(event, :html => { :class => "form-horizontal"}) do |f| %>
      <div class="control-group">
        <%= f.label :title, "Event Title", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => "input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :starts_at, "Event Date", :class => 'control-label' %>
        <div class="controls">
          <%= f.date_select :starts_at, {}, :class => 'datepicker input-small', :placeholder => '10/01/2012' %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :starts_at, "Event Time", :class => 'control-label' %>
        <div class="controls">
          <%= f.time_select :starts_at, { :ignore_date => true, :minute_step => 15 }, :class => "input-mini" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, "Event Description", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => "input-xxlarge" %>
          </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= link_to raw('<b class="icon-ok icon-white"></b> Save Event'), "#", :class => "submit btn btn-primary" %>
          <% unless event.new_record? %>
            <%= link_to raw('<b class="icon-trash icon-white"></b> Destroy Event'), "#", :class => "destroy btn btn-danger" %>
          <% end %>
          <%= link_to raw('<b class="icon-remove icon-white"></b> Cancel'), "/", :class => "btn btn-inverse" %>
        </div>
      </div>
    <% end %>
  </div>
</div>