<div class="row">
  <div class="span9">

      <h2>This Weeks Event</h2>
    <% if @this_weeks_events.any? %>
      <h4><%= link_to @this_weeks_event.title, event_path(@this_weeks_event) %> on <%= @this_weeks_event.starts_at.strftime("%A") %> @ <%= @this_weeks_event.starts_at.strftime("%l:%M%p") %></h4>
    <% else %>
      <h5 class="muted">No events scheduled this week</h5>
    <% end %>
    
      <h2>Upcoming Events</h2>
    <% if @events.any? %>
      <%= render @events %>
    <% else %>
      <h5 class="muted">No upcoming events</h5>
    <% end %>
  </div>

  <div class="span3">
    <h4>Bug /bəg/</h4>
    <p>An error in a computer program or system</p>
    <h1>+</h1>
    <h4>Walk /wôk/</h4>
    <p>Move at a regular and fairly slow pace by lifting and setting down each foot in turn, never having both feet off the ground at once</p>
    <h1>=</h1>
    <h4>Bug Walk /bəg wôk/</h4>
    <p>Moving at a regular and fairly slow pace through a computer program or system in order to solve an error</p>

    <% if @user.admin? %>
      <br/>
      <%= link_to raw('<b class="icon-plus icon-white"></b> Add Event'), { :controller => "events", :action => "new" }, :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>