<!DOCTYPE html>
<html>
<head>
  <title>Shopify Bug Walk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">Shopify Bug Walk</a>
      <ul class="nav">
        <li><a href="https://sites.google.com/a/jadedpixel.com/jadedpixel-/new-employee-environment-setup">Getting Setup</a></li>
        <li><a href="http://curriculumapp.herokuapp.com/">Curriculum App</a></li>
        <li><a href="https://sites.google.com/a/jadedpixel.com/jadedpixel-/git-guide">Github Guide</a></li>
        <li><a href="/mentors">Mentors</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<%= javascript_tag do %>
  $(".datepicker").datepicker();

  $(".submit").click(function() { 
    $(this).parents("form:first").submit(); 
    return false; 
  });

  $(".destroy").click(function() { 
    var form = $(this).parents("form:first");
    $(form).find("[name=\"_method\"]").val("delete");
    form.submit();
    return false; 
  });
<% end %>

</body>
</html>
